# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dist
web-dist/

# Docker
.dockerignore

# Go
service/scripts/minifier
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Go build tags
app-minimal/

# Go binaries
main
# Environment variables（敏感信息）
.env
.env.local
.env.production
web/dist
**/.omc
